{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/" method="post">
            <div class="input-group mb-3">
                <button class="btn btn-danger" type="submit" id="button-addon2">Find</button>
                <input type="text" class="form-control" autocomplete="off" placeholder="description" aria-label="description" aria-describedby="button-addon2" id="description" name="description">
            </div>
        </form>
    </div>
{% endblock %}
